@import "tailwindcss";
@plugin "tailwind-scrollbar";

@font-face {
  font-family: garet;
  src: url("./assets/Garet-Book.ttf");
}
@font-face {
  font-family: agrandir;
  src: url("./assets/Agrandir-Regular.otf");
}
@font-face {
  font-family: glacial;
  src: url("./assets/Glacial-Indifference.otf");
}


.scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  width: 200px;
  height: 200px;
  padding: 10px;
  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8 !important;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(83, 83, 83, 0.07);
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar {
    width: 7px;
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
  }
}