@import "tailwindcss";
@font-face {
  font-family: garet;
  src: url("./assets/Garet-Book.ttf");
}
@font-face {
  font-family: agrandir;
  src: url("./assets/Agrandir-Regular.otf");
}

:root{
  --custom-fonts-garet: garet;
  --custom-fonts-manline:agrandir;
}